{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.njk" %}

{% block  content %}

<h1 class="govuk-heading-l">Data entry</h1>

<form action="/data-entry" method="post" >


{{ test }}

{% if error_msg %}
{{ govukErrorSummary({
  "titleText": "There is a problem",
  "errorList": [
    {
      "text": error_msg,
      "href": "#input"
    }
  ]
}) }}
{% endif %}

{% include "input.njk" %}

{{ govukButton({
  text: "Submit"
}) }}

</form>



{% endblock %}