
<!doctype html>
<html  lang="en">


  {% block head %}
      <title>NHSBSA band6 developer assignment</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  {% endblock %}


  {% block  content %}
  {% endblock %}

  {% block bodyEnd %}

  {% endblock %}

</html>
