
<!doctype html>
<html  lang="en">


  {% block head %}
      <title>NHSBSA band6 developer assignment</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  {% endblock %}


  {% block  content %}
  {% endblock %}

  {% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/javascripts/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  {% endblock %}

</html>
